table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #eaf2f8;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.hprouduct {
    text-align: center;
    font-weight: 100;
    color: #333;
}
